---
export interface Props {
  btn1: any;
  btn1Link: string;
}

const { btn1, btn1Link } = Astro.props as Props;
---

<div id="btn-container" class="bg-test flex py-5 bg-">
  <button
    id="dynamic-btn"
    class="py-1 px-2 mr-4 rounded bg-munsell text-aquamarine border border-parchment"
  >
    <a href={btn1Link}>{btn1}</a>
  </button>
  <button
    id="contact-btn"
    class="py-1 px-2 bg-test2 text-carribean border border-black rounded"
  >
    <a href="/#contact">contact</a>
  </button>
</div>
