---
export interface Props {
  btn1: any;
  btn1Link: string;
}

const { btn1, btn1Link } = Astro.props as Props;
---

<div class="bg-">
  <div id="btn-container" class="bg- flex items-center space-x-3">
    <button id="dynamic-btn" class="btn-styles bg-munsell text-white">
      <a href={btn1Link}>{btn1}</a>
    </button>
    <button id="contact-btn" class="bg-test2 btn-styles">
      <a href="/#contact">contact</a>
    </button>
  </div>
</div>
