---
export interface Props {
  title: string;
  paragraph1: string;
  paragraph2: string;
  link: string;
}

const { title, paragraph1, paragraph2, link } = Astro.props as Props;
---

<div class="bg- py-5">
  <div class="">
    <h2 class="text-3xl 2xl:pt-5 text-left font-bold underline">
      {title}
    </h2>
    <div id="paragraph-content" class="py-4 space-y-3">
      <p>{paragraph2}</p>
      <button class="bg-lavender text-teal sq-styles-btn">
        <a class="" href="/#pricing-home-section"> {paragraph1}</a>
      </button>
    </div>
  </div>
</div>
