html {
  background-color: #f1f5f9;
  color: #313638;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

p {
  /* font-size: 16px; */
}

._shadowText1 {
  text-shadow: 2px 2px 2px black;
}

._shadowText2 {
  text-shadow: 2px 2px 1px teal;
}
  

/* *CONTAINER BOX */
.container {
    width: 1400px;
    margin: 20px auto;
    columns: 4;
    column-gap: 20px;
}

.container .box {
    width: 100%;
    margin-bottom: 10px;
    break-inside: avoid;
}

.container .box img{
    max-width: 100%;
}

/*  1200px mobile */
@media (max-width: 1200px)
 {
    .container {
        width:calc(100% - 40px);
        columns: 3;
    }
}


/*  768px mobile */
@media (max-width: 768px)
 {
    .container {
        columns: 2;
    }
}

/*  480px mobile */
@media (max-width: 480px)
 {
    .container {
        columns: 1;
    }
}


/*  * HERO ABOUT V*/
#hero #flex-properties {
  flex-direction: row-reverse;

  @media (max-width: 480px)
 {
    flex-direction: column;
  }
}

 






.sq-styles {
  border-radius: 2px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-styles {
  border-radius: 5px;
  border: 1px solid black;
  padding: 2px 4px 2px 4px;
}



#web-development #dynamic-btn {
  background: #f0ead2;
}