html {
  background-color: #f1f5f9;
  color: #313638;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* overflow-x:hidden */
}

p {
  font-size: 17px
}
 

section {
  /* margin: 120px 0; */
}




.sq-styles {
  border: 1px solid #15616D;
    border-radius: 5px;
    padding: 4px 5px 4px 5px;
}

.btn-styles {
 padding: 0px 3px 0px 3px;
 font-size: 15px;
 margin-top: 15px;
 /* margin-left: 5px; */
 border-radius: 5px;
 border: 1px solid #313638;
}
 
 






/* *GALLERY STYLES */
.container {
    width: 1400px;
    margin: 20px auto;
    columns: 4;
    column-gap: 20px;
}

.container .box {
    width: 100%;
    margin-bottom: 10px;
    break-inside: avoid;
}

.container .box img{
    max-width: 100%;
}

/*  1200px mobile */
@media (max-width: 1200px)
 {
    .container {
        width:calc(100% - 40px);
        columns: 3;
    }
}


/*  768px mobile */
@media (max-width: 768px)
 {
    .container {
        columns: 2;
    }
}

/*  480px mobile */
@media (max-width: 480px)
 {
    .container {
        columns: 1;
    }
}




/*   HERO SECTION V*/
 #hero {
 }

#hero #flex {
  
  @media (max-width: 1024px)
 {
    flex-direction: column;
  }
}

 


/* ABOUT SECTION v*/
  #about #flex {
  flex-direction: row-reverse;
  }

 #about #img1 {
    transform: scaleX(-1);
 }


 

 /* * PORTFOLIO SECTION  --V*/  
  #portfolio-LC #img2{
     transform: scaleX(-1);
  }

#portfolio-LC #flex {
  flex-direction: row-reverse;
}



@media (max-width: 1024px)
 {
#portfolio-LC #flex {
  flex-direction: column-reverse;
}
 }


#portfolio-LC #sq1 {
  transform: scaleX(-1);
}

 




#portfolio-LC  #other{
  background: maroon;
   transform: scaleX(-1);

}



 /* * PORTFOLIO SECTION  --^*/






#wtbh #flex{
     flex-direction: row-reverse;
     /* background: green; */
}






@media (max-width: 1024px) {
#wtbh #flex{
   flex-direction: column-reverse;
}
 }



 
#about #other {
  margin: 5px;
    padding: 5px
}

#about #screenshot {
  border: #15616D solid 1px;
  margin-bottom: 50px;
  
}



#about-rq  #about-content  {
  /* background: gold; */
  /* color: black; */

}




 

/* JUNGLE --V */
#about-jungle  #about-content   {
  /* background: green; */
}

#about-jungle  #screenshot  {
  /* border: #15616D solid 1px;
  border-radius: 15px; */
}