html {
  background-color: #f1f5f9;
  color: #313638;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
    margin: 0;
  padding: 0;
  overflow-x:hidden
}

p {
  /* font-size: 16px; */
}


section {
  margin: 70px 0;
}

._shadowText1 {
  text-shadow: 2px 2px 2px black;
}

._shadowText2 {
  text-shadow: 2px 2px 1px teal;
}
  

/* *CONTAINER BOX */
.container {
    width: 1400px;
    margin: 20px auto;
    columns: 4;
    column-gap: 20px;
}

.container .box {
    width: 100%;
    margin-bottom: 10px;
    break-inside: avoid;
}

.container .box img{
    max-width: 100%;
}

/*  1200px mobile */
@media (max-width: 1200px)
 {
    .container {
        width:calc(100% - 40px);
        columns: 3;
    }
}


/*  768px mobile */
@media (max-width: 768px)
 {
    .container {
        columns: 2;
    }
}

/*  480px mobile */
@media (max-width: 480px)
 {
    .container {
        columns: 1;
    }
}


/*  * HERO ABOUT V*/
#hero #flex-properties {
  /* flex-direction: row-reverse; */

  @media (max-width: 1024px)
 {
    flex-direction: column;
  }
}

 






.sq-styles {
  border: 1px solid #15616D;
    border-radius: 5px;
    margin: 15px 5px 15px 5px;
}

.btn-styles {
  border-radius: 5px;
  border: 2px solid 15616D;
  padding: 2px 4px 2px 4px;
  opacity: 0.6;
}



#web-development #dynamic-btn {
  background: #f0ead2;
}




/* ABOUT PROJECT SECTION STYLES */

#about-all-projects #about-content {
  margin-top: 230px;
}






#about-lc #flex-properties {
  flex-direction: row-reverse;
}



@media (max-width: 1024px)
 {
#about-lc #flex-properties {
  flex-direction: column-reverse;
}
 }


#about-lc #img-wrapper {
  transform: scaleX(-1);

}

#about-lc  #other{
  background: maroon;
   transform: scaleX(-1);

}




#about-lc  #other{
  background: maroon;
   transform: scaleX(-1);

}





#about-wtbh #flex-properties{
     flex-direction: row-reverse;
     /* background: green; */
}






@media (max-width: 1024px) {
#about-wtbh #flex-properties{
   flex-direction: column-reverse;
}
 }



#hero #about-content {
  background: #0792a5;
}



#about-lc #about-content {
  /* background: #FF7F50 */
}

#about-all-projects #other {
  margin: 5px;
    padding: 5px
}

#about-all-projects #screenshot {
  border: #15616D solid 1px;
  margin-bottom: 50px;
  
}



#about-rq  #about-content  {
  /* background: gold; */
  /* color: black; */

}




 

/* JUNGLE --V */
#about-jungle  #about-content   {
  /* background: green; */
}

#about-jungle  #screenshot  {
  /* border: #15616D solid 1px;
  border-radius: 15px; */
}