html {
 
  font-family: sans-serif;
  scroll-behavior: smooth;
  color: #313638;
  opacity: 95%;
    font-family: "Cormorant Garamond", serif;
  
}

* {   
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

 


.sq-styles {
  border: 1px solid #15616D;
    border-radius: 5px;
    padding: 4px 5px 4px 5px;
}

 
   


#open-icon {
  font-size: 25px;
  padding-bottom: 7px;
  color: #0792a5;
  opacity: 70%;
}