html {
  background-color: #f1f5f9;
  color: #313638;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

p {
  /* font-size: 16px; */
}

._shadowText1 {
  text-shadow: 2px 2px 2px black;
}

._shadowText2 {
  text-shadow: 2px 2px 2px teal;
}
