---
import ContentSplitImg from "../shared/ContentSplitImg.astro";
---

<!-- : problem solving V -->
<div class="flex justify-">
  <div
    id="about-hero"
    class="w-3/4 bg-test1 md:p-5 mt-[190px] flex justify-center"
  >
    <ContentSplitImg
      attentionParagraph="Full Stack Web Developer & Designer"
      interestParagraph="Hi there, I'm Elsa. I work with small businesses, creatives, and local brands who want a site that’s easy to manage, loads fast, and actually converts visitors into customers."
      desireParagraph="I focus on clean design, accessibility, and performance—using modern tools like Astro and React—so your site stays simple, fast, and future-proof."
      actionParagraph="LC CTA"
      img=""
      img2=""
      btn1="see freelance work"
      btn2="See all projects"
      btn1Link="https://laughingcoyote.dev"
      btn2Link="/#portfolio"
    />
  </div>
</div>
