---
const items = [
  {
    listItem:
      "🖥️ I'm based in Joshua Tree, CA. Its a place which inpires many colors I became interested in programming when I wanted to bring my own passion projects to life.",
  },
  {
    listItem:
      "🎨 My desire to learn js was initated by wanting to be more creative, and to build my 4 projects. By experiencing the process of building up these websites, I've gained not only an ability to work with unique colors, and to learn the skills needed to become a very ideal web developer.",
  },
  {
    listItem:
      "⌨️ My desire to learn js was initated by wanting to be more creative, and to build my 4 projects. By experiencing the process of building up these websites, I've gained not only an ability to work with unique colors, and to learn the skills needed to become a very ideal web developer.",
  },
];
---

<section id="about" class="text-onyx">
  <div id="" class="mt-5 p-5">
    <div id="" class="md:mr-5 mx-0 lg:p-5 p-0">
      <div class="pb-2 font-medium text-onyx ml-5">
        <div id="paragraph-container" class="2xl:pr-5 2xl:mr-5">
          <h2 class="text-4xl py-1 font-semibold opacity-80">
            Hi there... I'm Elsa.
          </h2>

          <div class="text-xl pl-1">
            <p class="pt-2">
              ✓ Featured below are some of my select portfolio projects... A
              collection built by weaving stories, software-development, and
              web-design together.
            </p>
            <ul class="space-y-4 pt- list- pt-1 pl pr-1">
              {items.map((item) => <li class="pt-1"> ✓{item.listItem}</li>)}
            </ul>
          </div>
          <br />
          <!-- <Image src={LCimg} alt="" /> -->
        </div>
      </div>
    </div>
  </div>
</section>
