---
import CenterPageBanner from "../shared/CenterPageBanner.astro";
import ContentSplitImg from "../shared/ContentSplitImg.astro";
---

<!-- : problem solving V -->
<section id="about" class="bg- p-5 mr-[50px] mb-[50px]">
  <CenterPageBanner BannerTitle="About" />
  <ContentSplitImg
    attentionParagraph="Hi there, I'm Elsa. Chances are you found me through one of my websites, and you are interested in making some website magic!"
    interestParagraph="I work with small businesses, creatives, and local brands who want a site that’s easy to manage, loads fast, and actually converts visitors into customers."
    desireParagraph="I focus on clean design, accessibility, and performance—using modern tools like Astro and React—so your site stays simple, fast, and future-proof."
    actionParagraph="When I’m not coding, I love refining design systems, experimenting with layout, and making the web feel a little less overwhelming."
    img="https://dl.dropboxusercontent.com/scl/fi/ip6bf2zbfq1r1nbop20il/selfLaptop-edited.jpg?rlkey=2ab0w4oybmwzan0j4786x7bb8&st=r7e8swox&dl=0 "
    img2=""
  />
</section>
