---
// import ButtonProps from "../shared/ButtonProps.astro";
---

<div id="about-wrapper" class="bg- lg:m-3 py- bg- flex justify-center">
  <div
    id="grid-About-container"
    class="w-[1300px] grid md:grid-cols-2 grid-cols-1 gap-5 p-5 2xl:mt-[50px]"
  >
    <div id="img-wrapper" class="bg- lg:pr-5 lg:mr-5">
      <img
        src="https://images.pexels.com/photos/6962993/pexels-photo-6962993.jpeg"
        alt=""
        class="my-2 sq-styles"
      />
    </div>

    <div id="About-content-container" class="">
      <div
        id="About-content"
        class="flex flex-col space-y-7 bg-munsell text-aliceBlue sq-styles text-teal p-5 mt-5 mb-5"
      >
        <!-- -1) attention -->
        <!-- -2) interest -->
        <!-- -3) desire -->
        <!-- -4) action -->
        <p id="" class="bg-">
          Hi there, I'm Elsa — a web developer who specializes in small, cozy,
          colorful websites that feel human and intentional.
        </p>
        <p id="" class="bg-">
          I work with small businesses, creatives, and local brands who want a
          site that’s easy to manage, loads fast, and actually converts visitors
          into customers.
        </p>
        <p id="" class="bg-">
          I focus on clean design, accessibility, and performance—using modern
          tools like Astro and React—so your site stays simple, fast, and
          future-proof.
        </p>
        <p>
          <a href="/#portfolio"> Featured below</a> is my portfolio... a collection
          built by: weaving stories, software-development, and web-design together.
        </p>
        <!-- <ButtonProps btn1Link="/#about-cta" btn1="go to about section" /> -->
      </div>
    </div>
  </div>
</div>
