---
import ContentSplitImg from "../shared/ContentSplitImg.astro";
---

<!-- : problem solving V -->
<section id="about" class="bg- md:p-5 2xl:mr-[50px] mt-[190px]">
  <ContentSplitImg
    attentionParagraph="About Me"
    interestParagraph="Hi there, I'm Elsa. I work with small businesses, creatives, and local brands who want a site that’s easy to manage, loads fast, and actually converts visitors into customers."
    desireParagraph="I focus on clean design, accessibility, and performance—using modern tools like Astro and React—so your site stays simple, fast, and future-proof."
    actionParagraph="LC CTA"
    img=""
    img2="https://dl.dropboxusercontent.com/scl/fi/wgfi7eat7rydozfsyz0sf/20210416_091132_HDR.jpg?rlkey=zza6btn86hdnxep9732n99fid&st=9opapzud&dl=0 "
    btn1="see freelance work"
    btn2="See all projects"
    btn1Link="https://laughingcoyote.dev"
    btn2Link="/#portfolio"
  />
</section>
