---
import ContactForm from "../ContactForm.astro";
import CenterPageBanner from "../shared/CenterPageBanner.astro";
---

<!--   a.ABOUT ME (JOURNEY), b. final cta V -->
<section id="contact">
  <!-- <CenterPageBanner BannerTitle="Contact" /> -->
  <div id="contact-wrapper" class="h-screen md:mt-[100px] mt-1 pt-5 px-5 bg-">
    <div id="contact-container" class="mt-5 md:p-5 p-0 w-3/4">
      <div id="contact-form-container" class="bg- lg:px-5 px-0 py-5 mt-5">
        <p class="pt-1 text-5xl font-semibold">
          Contact
          <!-- <span class="">
                <a
                  class="font-semibold underline text-munsell"
                  href="mailto:elsahovey@gmail.com">elsahvy@gmail.com</a
                >
              </span> -->
        </p>
        <p class="pl-1 py-2 opacity-85">
          I am always looking for opportunities to further my skills... and work
          with other like minded people in tech. If you would like to contact
          me, you can also find me at <i>sm </i>and <i>sm </i>
        </p>
        <ContactForm />
      </div>
    </div>
  </div>
</section>
