---
import ContentSplitImg from "../shared/ContentSplitImg.astro";
---

<!-- 1) HEADLINE (CLEAR VALUE) --><!-- 2) SUB HEADLINE (WHO ITS FOR AND HOW) --><!-- 3) PRIMARY CTA -->
<section id="hero" class="bg-">
  <ContentSplitImg
    attentionParagraph="ðŸ–¥ï¸ Web Design & FullStack Development"
    interestParagraph=" I develop interesting stories and beautiful, quick websites!"
    desireParagraph="Need a website that works for your business? Something quick and easy to manage? Or hands off?"
    actionParagraph="I've done all the over thinking with building sites... so you don't have to!  Save yourself from a tech headache and work with me!"
    img=""
    img2="https://dl.dropboxusercontent.com/scl/fi/e7c8npuns63srej6y2wju/ehLogo2.png?rlkey=lw92l2jhk1duxqw5y5spn99om&st=3gd86pi9&dl=0 "
    btn1="find out more"
    btn2="Work with me"
    btn1Link="/#about"
    btn2Link="/#contact"
  />
</section>
