---
// import Gallery from "../Gallery.astro";

import ButtonProps from "../shared/ButtonProps.astro";
import ContentSplitImg from "../shared/ContentSplitImg.astro";
import WebsitesGrid from "../shared/WebsitesGrid.astro";
---

<!-- 1) HEADLINE (CLEAR VALUE) --><!-- 2) SUB HEADLINE (WHO ITS FOR AND HOW) --><!-- 3) PRIMARY CTA -->
<section id="hero" class="-">
  <!-- <WebsitesGrid /> -->
  <ContentSplitImg
    attentionParagraph="ðŸ–¥ï¸ Web Design & FullStack Development"
    interestParagraph=" I design and build fast, modern websites that help small businesses look more professional,"
    desireParagraph=" all without the tech headache."
    actionParagraph="I've done all the over thinking with building sites... so you don't have to! "
    img=""
    img2="https://dl.dropboxusercontent.com/scl/fi/e7c8npuns63srej6y2wju/ehLogo2.png?rlkey=lw92l2jhk1duxqw5y5spn99om&st=3gd86pi9&dl=0 "
  />
  <ButtonProps btn1Link="/#about" btn1="Find out more" />
</section>
