---
import ContentSplitImg from "../shared/ContentSplitImg.astro";
---

<!-- 1) HEADLINE (CLEAR VALUE) --><!-- 2) SUB HEADLINE (WHO ITS FOR AND HOW) --><!-- 3) PRIMARY CTA -->
<section id="hero" class="bg-">
  <ContentSplitImg
    attentionParagraph="ðŸ–¥ï¸  Cozy, high-converting websites for small businesses"
    interestParagraph=" I design and build fast, modern websites that help small businesses look more professional,"
    desireParagraph=" all without the tech headache."
    actionParagraph="I've done all the over thinking with building sites... so you don't have to! "
    img="https://dl.dropboxusercontent.com/scl/fi/wgfi7eat7rydozfsyz0sf/20210416_091132_HDR.jpg?rlkey=zza6btn86hdnxep9732n99fid&st=9opapzud&dl=0 "
    img2=""
  />
</section>
