---
import ContentSplitImg from "../shared/ContentSplitImg.astro";
---

<section id="portfolio-LC" class="">
  <ContentSplitImg
    attentionParagraph=" Laughing Coyote Dev "
    interestParagraph="I work with small businesses, creatives, and local brands who want a site that’s easy to manage, loads fast, and actually converts visitors into customers."
    desireParagraph="I focus on clean design, accessibility, and performance—using modern tools like Astro and React—so your site stays simple, fast, and future-proof."
    actionParagraph="When I’m not coding, I love refining design systems, experimenting with layout, and making the web feel a little less overwhelming."
    img="https://dl.dropboxusercontent.com/scl/fi/xseyb5iv2nbfwyvsn2ee7/LC.png?rlkey=buq16mp5xccyn7qdcu5w02r9i&st=gts1coo3&dl=0"
    img2="https://dl.dropboxusercontent.com/scl/fi/36vnm2e663uln6akmex4d/lc.png?rlkey=lgim54nbp0u11mviylee29hyj&st=f9gdyb90&dl=0"
    websiteUrl="https://laughingcoyote.dev"
  />
</section>
