---
import { IoOpenOutline } from "react-icons/io5";
---

<div id="LC" class="ml-[50px]">
  <a href="https://laughingcoyote.dev">
    <div id="open-icon" class="ml-1">
      <IoOpenOutline />
    </div>
    <img
      src="https://dl.dropboxusercontent.com/scl/fi/1soitwwi5xmaa318swhho/lc-2-18-26.png?rlkey=zpcekcw732cpe4cyzzr4rekgv&st=iopaw1lj&dl=0"
      alt=""
      class="rounded-md border border-l-2 border-onyx 2xl:mb-[50px] mb-[100px]"
    />
  </a>
</div>
