---
import ButtonProps from "../shared/ButtonProps.astro";
import ContentSplitImg from "../shared/ContentSplitImg.astro";
---

<section id="portfolio-LC" class="bg-">
  <ContentSplitImg
    attentionParagraph=" Laughing Coyote Dev "
    interestParagraph="Colorful Astro templates, and development shop. Website layouts inspired by the desert.  "
    desireParagraph="I work with small businesses, creatives, and local brands who want a site that’s easy to manage, loads fast, and actually converts visitors into customers."
    actionParagraph="I focus on clean design, accessibility, and performance—using modern tools like Astro and React—so your site stays simple, fast, and future-proof."
    img="https://dl.dropboxusercontent.com/scl/fi/xseyb5iv2nbfwyvsn2ee7/LC.png?rlkey=buq16mp5xccyn7qdcu5w02r9i&st=gts1coo3&dl=0"
    img2="https://dl.dropboxusercontent.com/scl/fi/36vnm2e663uln6akmex4d/lc.png?rlkey=lgim54nbp0u11mviylee29hyj&st=f9gdyb90&dl=0"
    websiteUrl="https://laughingcoyote.dev"
  />
  <ButtonProps
    btn1Link="https://laughingcoyote.dev"
    btn1="Visit Laughing Coyote Dev"
  />
</section>
