---
// import Gallery from "../Gallery.astro";
import CenterPageBanner from "../shared/CenterPageBanner.astro";
// import WebsitesGrid from "../shared/WebsitesGrid.astro";
import LC from "../sections/LC.astro";
import RQ from "../sections/RQ.astro";
// import WTBH from "../sections/WTBH.astro";
// import Jungle from "../sections/Jungle.astro";
---

<div id="portfolio" class="bg-">
  <CenterPageBanner BannerTitle="Portfolio" />
  <!-- <WebsitesGrid /> -->
  <div id="container" class="pl-5 pt-5 2xl:ml-5">
    <p class="pl-3">
      These are my featured sites, my four website projects. I work with small
      businesses, creatives, and local brands who want a site that’s easy to
      manage, loads fast, and actually converts visitors into customers.
    </p>
  </div>
  <div id="wrapper" class="bg-">
    <!-- <div id="container" class="p-5 ml-5 text-onyx">
      <h2 class="text-3xl">Featured Sites</h2>
      <p>My four website projects</p>
      </div> -->
    <div id="projects" class="mr-5 2xl:px-[150px] p-1 bg-">
      <LC />
      <RQ />
    </div>
  </div>
  <!-- <Gallery /> -->
</div>

<!-- TODO: TURN GALLERY INTO SKILLS?  -->
<!--? GALLERY OF ALL MY SKILLS  V-->
