---
import About from "../shared/About.astro";
import CenterPageBanner from "../shared/CenterPageBanner.astro";
---

<CenterPageBanner BannerTitle="Projects" />
<div id="portfolio-wrapper" class="opacity-80 pt-1 px-5 bg-">
  <About
    attentionParagraph="I work with small businesses, creatives, and local brands who want a site that’s easy to manage, loads fast, and actually visitor into customers."
    interestParagraph="I focus on clean design, accessibility, and performance—using modern tools like Astro and React—so your site stays simple, fast, and future-proof."
    desireParagraph="desire test"
    actionParagraph="action test"
  />
</div>
