---
import { IoOpenOutline } from "react-icons/io5";
---

<div id="RQ" class="bg- mr-5 2xl:mt-[100px]">
  <a href="https://therunningquail.com">
    <div id="open-icon" class="flex justify-end pr-1">
      <IoOpenOutline />
    </div>

    <img
      src="https://dl.dropboxusercontent.com/scl/fi//7wtgrnjajnxoma3o15fyb/rq-2-18-26.png?rlkey=m58ch9mj066zxdjbz00nf2bek&st=81pa5gbq&dl=0"
      alt=""
      class="rounded-md border border-r-2 border-onyx"
    />
  </a>
</div>
