---
import ContentSplitImg from "../shared/ContentSplitImg.astro";
---

<section id="about-rq" class="border-t border-b border-black my-5">
  <ContentSplitImg
    attentionParagraph="Running Quail"
    interestParagraph="I work with small businesses, creatives, and local brands who want a site that’s easy to manage, loads fast, and actually converts visitors into customers."
    desireParagraph="I focus on clean design, accessibility, and performance—using modern tools like Astro and React—so your site stays simple, fast, and future-proof."
    actionParagraph="When I’m not coding, I love refining design systems, experimenting with layout, and making the web feel a little less overwhelming."
    img="https://dl.dropboxusercontent.com/scl/fi/qa78038rizyp6dsrcwp2x/RQ.png?rlkey=rb51ewh17uzvowpmvlaacvzy9&st=kzri4nzv&dl=0"
    img2="https://dl.dropboxusercontent.com/scl/fi/zdvqgpkxstz9g3vr5k70l/1-2-25-rq.png?rlkey=nnsad2qpj4i0e3bti5gkqy8gf&st=o7e7crr9&dl=0"
  />
</section>
