---
import { IoOpenOutline } from "react-icons/io5";
---

<div id="RQ" class="bg- mr-5 2xl:mt-[100px]">
  <a href="https://therunningquail.com">
    <div id="open-icon" class="flex justify-end pr-1">
      <IoOpenOutline />
    </div>

    <img
      src="https://dl.dropboxusercontent.com/scl/fi/a2utea057cl49xqqjf1wi/rq.png?rlkey=afhdtqboraezuio8uffczd44n&st=c5haqm9w&dl=0"
      alt=""
      class="rounded-md border border-rosyBrown w-2/"
    />
  </a>
</div>
