---
import ButtonProps from "../shared/ButtonProps.astro";
import ContentSplitImg from "../shared/ContentSplitImg.astro";
---

<section
  id="about-rq"
  class="border-t border-b border-black my-[80px] pb-[50px]"
>
  <ContentSplitImg
    attentionParagraph="Running Quail"
    interestParagraph="Something positive with Morongo basin. A place for the high desert to share their stories, small town businesses and experiences with JT."
    desireParagraph="JT experiences and polymer clay"
    actionParagraph="wordpress content based"
    img="https://dl.dropboxusercontent.com/scl/fi/qa78038rizyp6dsrcwp2x/RQ.png?rlkey=rb51ewh17uzvowpmvlaacvzy9&st=kzri4nzv&dl=0"
    img2="https://dl.dropboxusercontent.com/scl/fi/zdvqgpkxstz9g3vr5k70l/1-2-25-rq.png?rlkey=nnsad2qpj4i0e3bti5gkqy8gf&st=o7e7crr9&dl=0"
  />
  <div class="flex justify-end pr-[130px]">
    <ButtonProps
      btn1Link="https://therunningquail.com"
      btn1="The Running Quail"
    />
  </div>
</section>
