---
import About from "../shared/About.astro";
import CenterPageBanner from "../shared/CenterPageBanner.astro";
import SplitSectionImgLeft from "../shared/SplitSectionImgLeft.astro";
import SplitSectionImgRight from "../shared/SplitSectionImgRight.astro";
---

<!-- : problem solving V -->
<section id="web-development" class="bg-">
  <CenterPageBanner BannerTitle="About" />
  <About
    attentionParagraph="Hi there, I'm Elsa — a web developer who specializes in small, cozy, colorful websites that feel human and intentional."
    interestParagraph="I work with small businesses, creatives, and local brands who want a site that’s easy to manage, loads fast, and actually converts visitors into customers."
    desireParagraph="I focus on clean design, accessibility, and performance—using modern tools like Astro and React—so your site stays simple, fast, and future-proof."
    actionParagraph="When I’m not coding, I love refining design systems, experimenting with layout, and making the web feel a little less overwhelming."
  />
  <SplitSectionImgLeft
    title="web design"
    ,
    paragraph1="mockup first draft"
    ,
    paragraph2="mockup revised, final draft"
    ,
    paragraph3="and creatives."
  />
  <SplitSectionImgRight
    title="development and software"
    ,
    paragraph1="set up vercel temp"
    ,
    paragraph2="convert mockups into code"
    ,
    paragraph3="go over temp with client"
    ,
    paragraph4="final revisions"
    ,
    rightImg="https://images.pexels.com/photos/29531041/pexels-photo-29531041.jpeg?_gl=1*h7k50b*_ga*MTA5MDE3MzI2MS4xNzU4MjUwMDM4*_ga_8JE65Q40S6*czE3NjU4MzA0NTMkbzIwJGcxJHQxNzY1ODMwNDU2JGo1NyRsMCRoMA.."
  />

  <!-- TODO: TO ABOUT ^ -->
  <!-- 
  <SplitSectionImgLeft
    title="DISCOVERY PHASE"
    ,
    paragraph1="phone calls, meetings, consultations.... research, planning, scheduling... develop site structure/sitemap ex:10 hours x $50/hr=$500"
    ,
    paragraph2="-What does the user want? -how to make brand provide value?"
    ,
    paragraph3="sitemap, wireframe site aligned with your brand"
  />

  <SplitSectionImgRight
    title="CREATIVE PHASE"
    ,
    paragraph1="mockup first draft"
    ,
    paragraph2="convert mockups into code"
    ,
    paragraph3="mockup revised, final draft"
    ,
    paragraph4="and creatives."
    ,
    rightImg="https://images.pexels.com/photos/29531041/pexels-photo-29531041.jpeg?_gl=1*h7k50b*_ga*MTA5MDE3MzI2MS4xNzU4MjUwMDM4*_ga_8JE65Q40S6*czE3NjU4MzA0NTMkbzIwJGcxJHQxNzY1ODMwNDU2JGo1NyRsMCRoMA.."
  /> -->

  <!-- <SplitSectionImgLeft
    title="DEVELOPMENT PHASE"
    ,
    paragraph1="set up vercel temp"
    ,
    paragraph2="convert mockups into code"
    ,
    paragraph3="go over temp with client, final revisions"
  />
  <SplitSectionImgRight
    title="LAUNCH PHASE"
    ,
    paragraph1="final review and Q&A"
    ,
    paragraph2="move local website to live server, hosting, client training"
    ,
    paragraph3="final payment"
    ,
    paragraph4=" "
    ,
    rightImg="https://images.pexels.com/photos/29531041/pexels-photo-29531041.jpeg?_gl=1*h7k50b*_ga*MTA5MDE3MzI2MS4xNzU4MjUwMDM4*_ga_8JE65Q40S6*czE3NjU4MzA0NTMkbzIwJGcxJHQxNzY1ODMwNDU2JGo1NyRsMCRoMA.."
  /> -->
</section>
