---
import DefineItemsGrid from "../../components/DefineItemsGrid.astro";
import CenterPageBanner from "../shared/CenterPageBanner.astro";
import SplitSectionImgLeft from "../shared/SplitSectionImgLeft.astro";
import SplitSectionImgRight from "../shared/SplitSectionImgRight.astro";
---

<section id="writing">
  <CenterPageBanner BannerTitle="Writing" />
  <div id="portfolio-wrapper" class="opacity-80 pt-1 px-5 bg-">
    <SplitSectionImgRight
      title="Content"
      ,
      paragraph1="set up vercel temp"
      ,
      paragraph2="convert mockups into code"
      ,
      paragraph3="go over temp with client"
      ,
      paragraph4="final revisions"
      ,
      rightImg="https://images.pexels.com/photos/29531041/pexels-photo-29531041.jpeg?_gl=1*h7k50b*_ga*MTA5MDE3MzI2MS4xNzU4MjUwMDM4*_ga_8JE65Q40S6*czE3NjU4MzA0NTMkbzIwJGcxJHQxNzY1ODMwNDU2JGo1NyRsMCRoMA.."
    />
    <SplitSectionImgLeft
      title="Copywriting"
      ,
      paragraph1="mockup first draft"
      ,
      paragraph2="mockup revised, final draft"
      ,
      paragraph3="and creatives."
    />
  </div>

  <DefineItemsGrid />
</section>
