---
import ContentSplitImg from "../shared/ContentSplitImg.astro";
---

<section id="wtbh" class="">
  <ContentSplitImg
    attentionParagraph="Writing to Better Health"
    interestParagraph="I work with small businesses, creatives, and local brands who want a site that’s easy to manage, loads fast, and actually converts visitors into customers."
    desireParagraph="I focus on clean design, accessibility, and performance—using modern tools like Astro and React—so your site stays simple, fast, and future-proof."
    actionParagraph="When I’m not coding, I love refining design systems, experimenting with layout, and making the web feel a little less overwhelming."
    img="https://dl.dropboxusercontent.com/scl/fi/7ygunqcm9zzdsi0ujj0yy/wtbh.png?rlkey=e78wx1xeglxq1r95sk6dratzn&st=w0soueph&dl=0"
    img2="https://dl.dropboxusercontent.com/scl/fi/q14f9bigxyrl4lbq947d9/wtbh-3-26-24.png?rlkey=6s9bv10u0zkfdj63jsaj2sqml&st=w3agf3mk&dl=0"
  />
</section>
