---
import CenterPageBanner from "../shared/CenterPageBanner.astro";
import All from "./All.astro";
---

<!-- : problem solving V -->
<div id="about" class="bg- p-5 mr-[50px] mb-[50px]">
  <CenterPageBanner BannerTitle="About" />

  <div id="container" class="bg- mx-5">
    <All />
  </div>
</div>
