---
import ContentSplitImg from "../shared/ContentSplitImg.astro";
---

<section id="about-jungle" class="bg-">
  <ContentSplitImg
    attentionParagraph="About The Indoor Jungle Project"
    interestParagraph="I work with small businesses, creatives, and local brands who want a site that’s easy to manage, loads fast, and actually converts visitors into customers."
    desireParagraph="I focus on clean design, accessibility, and performance—using modern tools like Astro and React—so your site stays simple, fast, and future-proof."
    actionParagraph="When I’m not coding, I love refining design systems, experimenting with layout, and making the web feel a little less overwhelming."
    img="https://dl.dropboxusercontent.com/scl/fi/147id5x30bw0kikrbc6s5/jungle.png?rlkey=dhl3peil8rt8q84ugkoxwbg9o&st=lmk42be5&dl=0 "
    img2="https://dl.dropboxusercontent.com/scl/fi/hd9xumwspz3x5kftojiid/jungle1.jpg?rlkey=u6bz0uro3d9mdjibf7qzt1g25&st=197prvg2&dl=0     "
  />
</section>
