---
import MainLayout from "../layouts/MainLayout.astro";
import LeftColumn from "../layouts/LeftColumn.astro";
import MidColumn from "../layouts/MidColumn.astro";
import RightColumn from "../layouts/RightColumn.astro";
// const allFeaturedSites = await Astro.glob("./websites/*.md");
---

<MainLayout>
  <div
    id="3-col-grid"
    class="bg- grid 2xl:grid-cols-4 md:grid-cols-2 grid-cols-1"
  >
    <LeftColumn />
    <MidColumn />
    <RightColumn />
  </div>
</MainLayout>
