---
// import ShopIcon from "../images/icons/online-shop.png";
// import SeoIcon from "../images/icons/seo.png";
// import MobileIcon from "../images/icons/mobile-phone.png";
// import ScaleUpIcon from "../images/icons/scale-up.png";
// import CalenderIcon from "../images/icons/calendar.png";
// import SpeedIcon from "../images/icons/speed.png";
// import Image from "astro/components/Image.astro";

const items = [
  {
    title: "A virtual home for your business",
    description:
      "While social media is great, you do not fully own your own content. When owning a website, you have total control.",
    // icon: ShopIcon,
  },
  {
    title: "Search Engine Optimization",
    description:
      "I use technologies such as nextjs to help your business rank on Google.",
    // icon: SeoIcon,
  },
  {
    title: "Mobile Optimization",
    description:
      "Statistics show that most people browse websites on their phone or tablets. Each website is designed with this in mind, using beautiful UI/UX practices.",
    // icon: MobileIcon,
  },
  {
    title: "Website Scales as your business grows",
    description:
      "As you gain more customers and online presence, you have the option of scaling your website.",
    // // icon: ScaleUpIcon,
  },
  {
    title: "Continuous - monthly Support ",
    description:
      "Laughing Coyote Dev provides a monthly service and continous support, creating a non-stressful experience",
    // // icon: CalenderIcon,
  },
  {
    title: "Quick loading performance",
    description:
      "Sites are quick due to using NextJS, Vite, and other technologies which allows quick loading times.",
    // // icon: SpeedIcon,
  },
];
---

<div id="how-it-works-wrapper" class="flex justify-center pt-5 mb-[50px]">
  <div
    id="how-it-works-grid"
    class="2xl:max-w-[1300px] grid 2xl:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-5 mx-5 my-b py-5 lg:px-5 md:px-2 px-0"
  >
    {
      items.map((item) => (
        <div
          id="sq-wrapper"
          class="flex justify-center bg-teal text-parchment sq-styles-teal px-2"
        >
          <div id="sq-container" class="bg-munsell p-3 w-full bg-">
            <div class="flex items-center space-x-3">
              <h3 class="text-2xl font-bold pt-5">{item.title} </h3>
              <div id="icon-wrapper" class="bg-parchment p-1 sq-styles-teal">
                {/* <Image src={item.icon} alt="" width={40} height={40} /> */}
                <img
                  src="https://dl.dropboxusercontent.com/scl/fi/8ix7q26j1fmd43xw7rbsa/new-lc-hero.png?rlkey=w1f8tjekj5om5bwlr80vrqfda&st=k3zzu2be&dl=0"
                  alt=""
                  width={40}
                  height={40}
                />
              </div>
            </div>

            <p class="text-md  ">{item.description}</p>
          </div>
        </div>
      ))
    }
  </div>
</div>
