---
import NavItems from "./NavItems.astro";
---

<header
  class="bg- pt-5 p pb-0 min-[769px]:fixed relative md:left-0 top-0 z-50 min-[769px]:h-screen
  2xl:w-1/4
  min-[1024px]:w-[350px]
    min-[800px]:w-[290px]
  min-[769px]:w-[320px]
   max-[768px]:w-full
    border-black border-r-2 bg-aliceBlue"
>
  <div id="logo-padding" class="pl-5">
    <div id="logo" class="bg- 2xl:text-8xl text-7xl pb-1 opacity-90">
      <a href="/"> Elsa <br /> Hovey</a>
    </div>
    <div id="sm-icons-container" class="bg-">
      <NavItems />
    </div>
  </div>
  <div class="min-[768px]:mt-[160px] ml- absolute bottom-0">
    <img
      src="https://dl.dropboxusercontent.com/scl/fi/e7c8npuns63srej6y2wju/ehLogo2.png?rlkey=lw92l2jhk1duxqw5y5spn99om&st=3gd86pi9&dl=0"
      alt=""
      class=""
    />
  </div>
</header>
