---
import NavItems from "./NavItems.astro";
---

<header
  class="flex justify-center space-x-5 p-5 md:absolute md:z-0 w-full opacity-85"
>
  <div id="logo" class="text-4xl">
    <a href="/"> Elsa Hovey</a>
  </div>
  <div id="sm-icons-container" class="">
    <NavItems />
  </div>
</header>
