---
import { Image } from "astro:assets";
import ProfilePic from "../../public/eh-img.jpg";
import NavItems from "./NavItems.astro";
---

<header
  class="bg- pt-5 pl-5 pr-5 pb-0 min-[769px]:fixed relative md:left-0 top-0 z-50 min-[769px]:h-screen
  2xl:w-1/4
  min-[1024px]:w-[350px]
    min-[800px]:w-[290px]
  min-[769px]:w-[320px]
   max-[768px]:w-full
    border-gray-400 md:border-r bg-"
>
  <div id="logo" class="2xl:text-9xl lg:text-8xl text-7xl pb-1 opacity-90">
    <a href="/"> Elsa <br /> Hovey</a>
  </div>
  <div id="sm-icons-container" class="">
    <NavItems />
  </div>
  <div class="bg- min-[768px]:mt-[130px] mb-5">
    <Image src={ProfilePic} alt="" class="rounded w-3/4 pb-5" />
  </div>
</header>
