---
const items = [
  {
    icon: "about",
    link: "/#about",
  },
  {
    icon: "portfolio",
    link: "/#portfolio ",
  },
  {
    icon: "notes",
    link: "/#notes ",
  },
  {
    icon: "contact",
    link: "/#contact ",
  },
];
---

<div class="pl-2 opacity-90 text-onyx flex justify-left">
  <div class="border-t border-b border-black flex flex-col py-2">
    {
      items.map((item) => (
        <div class="flex items-center space-x-2 text-3xl ml-1">
          <a href={item.link}>{item.icon}</a>
        </div>
      ))
    }
  </div>
</div>
