---
const items = [
  {
    icon: "https://dl.dropboxusercontent.com/scl/fi/sazqvcewj4102t3pryhgs/github.png?rlkey=393g3j44d83mk55k2kya5ct0e&st=1a1ftfsv&dl=0",
    link: "https://github.com/elsahv?tab=repositories",
  },
  {
    icon: "https://dl.dropboxusercontent.com/scl/fi/ecqo4nns2dlsxe1hvfiz7/linkedIn.png?rlkey=x95p8d0plnukih5fvelej4fv7&st=5cm9z36w&dl=0",
    link: "https://www.linkedin.com/in/elsa-hovey",
  },

  {
    icon: "https://dl.dropboxusercontent.com/scl/fi/azjiy3b7xp4q8u13o7yyg/instagram.png?rlkey=cxial2ze2jk0q9qjw942sibuc&st=pwo8jfmp&dl=0",
    link: "https://www.instagram.com/elsahoveydevdesign/ ",
  },
];
---

<div class="bg- pb-5">
  <div class="flex items-center space-x-3 pl-4">
    {
      items.map((item) => (
        <a href={item.link} target="_blank" rel="noopener noreferrer">
          <img src={item.icon} alt="" class="bg-test w-[35px] h-[35px]" />
        </a>
      ))
    }
  </div>
</div>
