---
import ProfileImg from "../components/sections/ProfileImg.astro";
import RQ from "../components/sections/RQ.astro";
---

<div id="left-col" class="flex flex-col bg-">
  <ProfileImg />
  <RQ />
</div>
