---
import MySkills from "../components/sections/MySkills.astro";

import LC from "../components/sections/LC.astro";
---

<div
  id="right-col"
  class="flex 2xl:flex-col md:flex-row flex-col 2xl:space-y-32 2xl:col-span-1 md:col-span-2 col-span-1 bg-"
>
  <div
    class="ml-5 pl-5 pb-5 text- bg-munsell text-white border-black rounded-bl border-b border-l w-full"
  >
    <MySkills />
  </div>
  <LC />
</div>
